.healthy {
  color: #66bb6a;
}

.injured {
  color: #ff7043;
}

.player-info-number {
  font-size: 50px;
}

.player-info-icon {
  font-size: 25px;
  display: block;
}

.player-info-text {
  font-size: 15px;
}

.skill-level-1 {
  background-color: #006064;
}

.skill-level-2 {
  background-color: #0097a7;
}

.skill-level-3 {
  background-color: #00bcd4;
}

.skill-level-4 {
  background-color: #4dd0e1;
}

.skill-level-5 {
  background-color: #b2ebf2;
}