.player-image-container.card-type-asset-icon {
  max-width: 40%;
  width: 40%;
}

.player-image-container lfr-editable {
  height: 100%;
  width: 100%;
}

.player-image {
  height: 100%;
  width: 100%;
}

.player-position {
  font-size: 11px;
  margin-left: 0.25rem;
}

.player-position-defender {
  border-color: #f4511e;
  color: #f4511e;
}

.player-position-goalkeeper {
  border-color: #ffc107;
  color: #ffc107;
}

.player-position-midfielder {
  border-color: #43a047;
  color: #43a047;
}

.player-position-striker {
  border-color: #00acc1;
  color: #00acc1;
}

.team-logo-container.sticker {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 0.5rem;
}

.team-logo-container lfr-editable {
  width: 40px;
}

.team-logo {
  width: 100%;
}

.team-name {
  font-weight: 300;
}